@media only screen and (min-width: 0rem) {
  :root {
    /* color */
    --primary: #001f3f;
    --primaryLight: #43b7ff;
    --secondary: #43b7ff;
    --secondaryLight: #001f3f;
    --third: #990000;
    --thirdLight: #99000060;
    --thirdLightOpp: #99000020;
    /* specific-colors */
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    --bodyNoteCode: #ffff74;
    /* color-bg */
    --backgroundPrimary: #fff;
    --backgroundSecondary: #efefef;
    /*gradiant*/
    /* background-image: var(--gradiant); */
    --gradiant: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);


    /*fonts*/
    --h1: clamp(2.25rem, 2.05rem + 3vw, 2.5rem);
    --h2: clamp(2rem, 1.8rem + 3vw, 2.25rem);
    --h3: clamp(1.75rem, 1.55rem + 3vw, 2rem);
    --h4: clamp(1.5rem, 1.3rem + 3vw, 1.75rem);
    --h5: clamp(1.25rem, 1.05rem + 3vw, 1.5rem);
    --bodyFontSize: clamp(1rem, 0.8rem + 3vw, 1.25rem);
    --bodyFontSmall: clamp(0.75rem, 0.6rem + 3vw, 0.9rem);
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    /*style*/
    --headerFont: "Oswald", Arial, sans-serif;
    --font-family-code: "JetBrains Mono", monospace;
    --bodyFont: "Source Sans 3", Arial, sans-serif;
    --navNeon: "Yellowtail", "Adjusted Verdana Fallback", "Verdana", sans-serif;
    --radius-normal: 0.25rem;
    --radius-full: 9999px;
  }

  body,
  html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: var(--bodyFont);
    font-size: var(--bodyFontSize);
    color: var(--bodyTextColor);
    scroll-behavior: smooth;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    transition: background-color 0.3s; 
  }

  .container {
    position: relative;
    margin: 0 auto;
    width: min(50em, 98%);
    border-radius: 1em;
    padding: 1em;
  }

  /*Goal Section */

  .goal-container {
    background-color: var(--backgroundPrimary);
    display: grid;
    grid-gap: .5em;
    margin-top: 2em;
    border-top: 9px solid var(--primary);
    box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
  }

  .goal-chapter {
    padding: 1em 0 1em 0;
    border: 1px solid var(--primary);
  }

  .goal-item-body {
    font-size: var(--bodyFontSmall);
    border-top: 1px solid var(--primary);
    border-bottom: .5em solid var(--primary);
    padding: 1em;
  }

  .goal-item-video {
    display: grid;
    grid-gap: .25em;
    min-height: 3em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .goal-chapter .goal-item-video .video-element {
    background-color: var(--third);
    border: 1px solid var(--primary);
    color: var(--backgroundSecondary);
    min-height: 3em;
    padding: .5em;
  }

  .goal-chapter .goal-item-video .video-element:hover {
    background-color: var(--thirdLight);
  }

  .video-element a {
    color: var(--backgroundSecondary);
  }

  .game {
    margin-top: 2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: var(--headerFont, sans-serif);
    color: var(--headerColor, #333);
    font-weight: 700;
    line-height: 1.2;
  }

  h1 {
    font-size: var(--h1);
  }

  h2 {
    font-size: var(--h2);
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  h5 {
    font-size: var(--h5);
  }

  h6 {
    font-size: var(--h6, var(--bodyFontSize));
  }

  .title {
    margin-bottom: 1em;
    margin-top: 0.5em;
    text-align: center;
  }

  p,
  a,
  button,
  p {
    margin: 0;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-wrap: pretty;
    overflow-wrap: break-word;
    color: var(--bodyTextColor);
  }

  /*list*/
  ul,
  ol {
    padding-left: 3.5vw;
    line-height: 1.1rem;
    text-wrap: pretty;
    font-size: var(--bodyFontSmall);
  }

  ol a {
    font-size: var(--bodyFontSmall);
    color: #990000;
  }

  ul a {
    font-size: var(--bodyFontSmall);
    color: #990000;
  }

  li .note {
    border: 1px solid var(--primary);
    padding: 3px;
    background-color: var(--bodyNoteCode);
    list-style: none;
    font-size: var(--bodyFontSmall);
  }

  li code {
    border-radius: var(--radius-normal);
    padding: .125em .25em;
    background-color: var(--bodyNoteCode);
    font-size: var(--bodyFontSmall);
  }

  button {
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--primaryLight);
    border: 5px solid var(--secondaryLight);
  }

  button:hover {
    background-color: var(--backgroundPrimary);
    font-family: var(--navNeon);
  }

  a:hover,
  button:hover {
    cursor: pointer;
  }

  .skip {
    z-index: -1111111;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  /* Navigation */
  .nav {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
  }

  .nav-grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    overflow: hidden;
    background-color: var(--backgroundSecondary);
  }

  .nav-grid-image {
    background-color: #f5eb35;
    border: 1px solid #001f3f;
    padding: 1em;
  }

  .nav-grid-body {
    display: grid;
    grid-template-columns: repeat(6, auto);
  }

  #nav-expanded {
    padding: 0;
    list-style: none;
  
  }

  .nav-item {
    background-color: #00bf72;
    padding: 1em;
    border: 1px solid #001f3f;
  }


@font-face {
  font-style: normal;
  font-family: "Oswald";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/oswald-v53-latin-600.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "Yellowtail";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/yellowtail-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "Oswald";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswald-v53-latin-regular.woff2") format("woff2");
}

}