@media only screen and (min-width: 0rem) {
  :root {
    /* color */
    --primary: #001f3f;
    --primaryLight: #43b7ff;
    --secondary: #43b7ff;
    --secondaryLight: #001f3f;
    --third: #990000;
    --thirdLight: #f3697e;
    /* specific-colors */
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    --note: #f5f5db;
    /* color-bg */
    --backgroundPrimary: #fff;
    --backgroundSecondary: #efefef;
    --color-background-secondary: light-dark(var(--color-gray-80), var(--color-gray-20));

    /*fonts*/
    --h1: clamp(2.25rem, 2.05rem + 3vw, 2.5rem);
    --h2: clamp(2rem, 1.8rem + 3vw, 2.25rem);
    --h3: clamp(1.75rem, 1.55rem + 3vw, 2rem);
    --h4: clamp(1.5rem, 1.3rem + 3vw, 1.75rem);
    --h5: clamp(1.25rem, 1.05rem + 3vw, 1.5rem);
    --bodyFontSize: clamp(1rem, 0.8rem + 3vw, 1.25rem);
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    /*style*/
    --headerFont: "Oswald", Arial, sans-serif;
    --font-family-code: "JetBrains Mono", monospace;
    --bodyFont: "Source Sans 3", Arial, sans-serif;
    --navNeon: "Yellowtail", "Adjusted Verdana Fallback", "Verdana", sans-serif;
    --radius-normal: 0.25rem;
    --radius-full: 9999px;
  }

  body,
  html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: var(--bodyFont);
    font-size: var(--bodyFontSize);
    color: var(--bodyTextColor);
    scroll-behavior: smooth;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    transition: background-color 0.3s;
  }

  .container {
    position: relative;
    margin: 0 auto;
    width: min(50em, 95%);
    border-radius: 1em;
    background-color: var(--backgroundPrimary);
    padding: 1em;
  }

  .video {
    background-color: var(--bodyTextColorWhite);
    gap: 1em;
    padding: 1em;
    border: 2px solid var(--primary);
  }

  .goal {
    background-color: var(--backgroundPrimary);
    gap: 1em;
    padding: 1em;
    border: 2px solid var(--primary);
    margin-bottom: 1em;
  }

  .goals {
    border: 1px solid var(--primary);
    padding: 1em;
  }

  .game {
    margin-top: 2em;
  }

  .start,
  .current,
  .review,
  .projects {
    display: grid;
    padding: 1em;
    background-color: var(--third);
    border: 2px solid var(--secondaryLight);
  }

  .start a,
  .current a,
  .review a,
  .projects a {
    color: var(--backgroundSecondary);
  }

  .start a:hover,
  .current a:hover,
  .review a:hover,
  .projects a:hover {
    color: var(--backgroundPrimary);
    font-family: var(--navNeon);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: var(--headerFont, sans-serif);
    color: var(--headerColor, #333);
    font-weight: 700;
    line-height: 1.2;
  }

  h1 {
    font-size: var(--h1);
  }

  h2 {
    font-size: var(--h2);
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  h5 {
    font-size: var(--h5);
  }

  h6 {
    font-size: var(--h6, var(--bodyFontSize));
  }

  .title {
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  p,
  li,
  a,
  button {
    margin: 0;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-wrap: pretty;
    overflow-wrap: break-word;
  }

  p,
  li {
    color: var(--bodyTextColor);
  }

  li {
    margin-left: clamp(.5em 1vw + 1, 2em);
  }

  li .note {
    border: 1px solid var(--primary);
    padding: 3px;
    background-color: var(--note);
    list-style: none;

  }

  code {
    border-radius: var(--radius-normal);
    padding: .125em .25em;
    background-color: var(--color-background-secondary);
  }

  button {
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--primaryLight);
    border: 5px solid var(--secondaryLight);
  }

  button:hover {
    background-color: var(--backgroundPrimary);
    font-family: var(--navNeon);
  }

  a:hover,
  button:hover {
    cursor: pointer;
  }

  .skip {
    z-index: -1111111;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  /* Navigation */
  .nav {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
  }

  .nav-grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 3fr;
    align-items: center;

    overflow: hidden;
    background-color: var(--backgroundSecondary);
  }

  .nav-grid-image {
    background-color: #f5eb35;
    border: 1px solid #001f3f;
    padding: 1em;
  }

  .nav-grid-body {
    display: grid;
    grid-template-columns: repeat(6, auto);
  }

  #nav-expanded,
  .nav-item {
    align-items: center;
    height: 100%;
    padding: 0;
    list-style: none;
    border: 1px solid #001f3f;
  }
}

@font-face {
  font-style: normal;
  font-family: "Oswald";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/oswald-v53-latin-600.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "Yellowtail";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/yellowtail-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "Oswald";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/oswald-v53-latin-regular.woff2") format("woff2");
}