@media only screen and (min-width: 0rem) {
    :root {
        --primary: #001f3f;
        --primaryLight: #43b7ff;
        --secondary: #43b7ff;
        --secondaryLight: #001f3f;
        --third: #990000;
        --thirdLight: #f3697e;
        --headerColor: #1a1a1a;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #fafbfc;
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        --headerFontSize: clamp(1.9375rem, 2.9vw, 3.0625rem);
        --bodyFontSize: clamp(1.2rem, 2.3vw, 1.5rem);
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
        --headerFont: "Oswald", Arial, sans-serif;
        --bodyFont: "Source Sans 3", Arial, sans-serif;
        --navNeon: "Yellowtail", "Adjusted Verdana Fallback", "Verdana", sans-serif;
    }

    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: var(--bodyFont);
        font-size: 100%;
        color: var(--bodyTextColor);
        scroll-behavior: smooth;
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 90%;
    }

    .video {
        display: grid;
        background-color: #efefef;
        gap: 1em;
        padding: 2em;
        border: 2px solid var(--primary);
     }
    
    .start,
    .current {
        display: grid;
        padding: 2em;
        background-color: var(--primaryLight);
        border: 2px solid var(--secondaryLight);
    }
    
    .goal {
        display: grid;
        background-color: #efefef;
        gap: 1em;
        padding: 2em;
        border: 2px solid var(--primary);
        margin-bottom: 1em;
     }
     
    .game {
        margin-top: 2em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        text-transform: uppercase;
        font-family: var(--headerFont);
        color: var(--headerColor);
    }
    
    .title {
        margin-bottom: 1em;
        margin-top: .5em;
    }

    p,
    li,
    a,
    button {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    button {
       padding: 2em;
       border-radius: 0.5em;
       background-color: var(--primaryLight);
       border: 5px solid var(--secondaryLight);
    }

    a:hover, button:hover {
        cursor: pointer;
    }

    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }}